
body{
    
    background-image: url("refresh.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
h1 {
    font-family: 'Roboto', sans-serif;
}

.margin-top{
margin-top: 100px;

}

.button-margin {
    margin-top: 20px;
}


.cardLocation {
    font-size: 20px;
    font-weight: 600;
}
.noPicTitle {
    font-size:25px;
    font-weight: 600;
}

.distance {
    font-weight: 600;
    font-size: 17px;
    font-style: italic;
}

.float {
    float: left;
}

#results {
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}

#results .card {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    /* max-height: 600px;
    overflow: hidden; */
    break-inside: avoid;

}

#over {
    max-height: 300px;
    overflow: hidden;
}

#results .card img {
    max-width: 100%;
}

#weather{
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.card-stacked, .horizontal {
    background-color: rgba(100, 100, 100, 0.295)
}

#temp, #feelsLike, #max, #min, #humidity {
    border-right: solid 1px white;
    color:white;
    
} */

.border {
    border-right: solid 1px white;
    color:white; 
}

.button{
    font-size: 15px;
    border-radius: 20px;
}



@media (max-width:1200px){
    #results {
        columns: 2;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }

    #weather{
        visibility: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    
    }

  
    .button{
        font-size: 15px;
        border-radius: 20px;
    }
}

 /* @media (max-width:768px){
    #results {
        columns: 2;

    }
}  */

@media (max-width:768px){
    #results {
        columns: 1;

    }

    #weather{
        visibility: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
    
    }

.button{
    font-size: 10px;
    border-radius: 20px;
}
  
}